doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "Ui Components"
    link(rel="stylesheet" href="style/css/main.css")
  body
    div.bl-wrap
      div(class="bl-container -fixed")
        aside(id="hero" class="bl-hero")
        aside.featured
            h1.featured__title Awesome Banner Slider
    script(type="module" src="js/index.js")