.bl
    &-wrap,
    &-container,
    &-hero
        position: relative
    &-wrap

        &:before
            content: ""
            display: block
            position: fixed
            top: -100%
            left: -100%
            width: 500%
            height: 500%
            background-image: url('../../assets/bg-noise.png')
            background-repeat: repeat
            background-position: 0 0
            opacity: .65
            animation: noise 9s steps(10) infinite
    &-container
        max-width: 1440px
        margin: auto
        
    &-hero
        width: 100%
        border: solid 13px $color-surface
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)